
log_format accfmt '$remote_addr [$time_local]'
                  ' "$request" $status $bytes_sent $request_time'
                  ;

access_log acc.log accfmt;

lua_package_path  '$prefix/../../lib/?.lua;;';
lua_package_cpath  '$prefix/../../clib/?.so;;';

# default shared dict lock storage used by paxos
lua_shared_dict paxos_lock 10m;
lua_socket_log_errors off;

init_worker_by_lua 'require("worker_init")';
# vim: ft=ngx
